<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noscript!</title>
  </head>

  <body>
    <h1>{{ .title }}</h1>
    <form action="/signin" method="post">
      <button type="submit">Sign In</button>
    </form>
    <form action="/report" method="post">
      <input
        class="input"
        type="text"
        name="url"
        placeholder="/user/ce93310c-b549-4fe2-9afa-a298dc4cb78d"
      />
      <button type="submit">Submit to admin</button>
    </form>
  </body>
</html>
